{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    {{ govukInput({
    label: {
        text: "Your claim reference number",
        classes: "govuk-label--l",
        isPageHeading: true
    },
    hint: {
    text: "You do not have to complete this box but you can use it to show your claim reference if you use one. The reference that you quote will appear on the payment advice note you receive from us when we pay the claim."
    },
    id: "claim-reference-number",
    name: "claimReferenceNumber"
    }) }}
    {{ govukButton({
          text: "Continue",
          href:"cp-r14-declaration"
        }) }}
    </div>
  </div>
{% endblock %}
