{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Gift Aid Small Donations Scheme</h1>

      <form action="/form-handler-gasds" method="post" novalidate>
      <p class="govuk-body">This is separate to a Gift Aid claim.

The Gift Aid Small Donation Scheme (GASDS) is for donations of £20 or less and does not need declaring.</p>

        {{ govukRadios({
          name: "gasds",
          fieldset: {
            legend: {
              text: "Are you claiming for the Gift Aid Small Donations Scheme?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
